.top-bar
{
    /*padding: 5px;*/
    height: 80px;
    width: 1220px;
    /*margin-top: 5px;*/
    /*margin-right: auto;*/
    /*margin-bottom: 5px;*/
    /*margin-left: auto;*/
    background-color: #B1B1B1;
}
.top-bar-left
{
 float: left;

}
.menu-text
{
    color: inherit;
    line-height: 1;
    padding: .7rem 1rem;
}
.top-bar-right
{
 float: right;
}
.dropdown
{
    display: block;

}